<!DOCTYPE html>
<html>
  <head>
    <title>CuriouscatcloneRuby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Amaranth|Viga">
  </head>

  <body>
    <div class="container full-screen">
      <div class="middle-fullscreen">
        <div class="row">
          <div class="col-md-4 offset-md-2 box-home text-center">
            <h1>Welcome!</h1>
            <h2> <%= link_to 'Login', new_user_session_path %></h2>
            <h2> <%= link_to 'Register', new_user_registration_path %></h2>
          </div>
          <div class="col-md-4">
            <%= image_tag ("/assets/ccc.png"), class: "w-100"%>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>